body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
/* Бургер-меню активное состояние */
.menu.active {
  display: block;
}

.burger-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-icon span {
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

/* Скрываем меню по умолчанию */
.menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: rgba(66, 66, 66, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Анимация для открытия меню */
.menu.open {
  display: block;
}

.geometric-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}
.circle,
.triangle,
.square {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 1.5;
  transition: border-radius 0.5s ease;
}

.circle {
  border-radius: 50%;
  background-color: #e2c044;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 260px solid #f56342;
  position: relative;
}

.triangle p {
  position: absolute;
  top: 115px;
  width: 200px;
  text-align: bottom;
  transform: rotate(-30deg);
  color: #000000;
}

.square {
  background-color: #007f5f;
}

.wave-text {
  font-size: 1.5rem;
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.wave-text span {
  display: inline-block;
  position: relative;
  font-weight: bold;
  animation: wave 1.5s infinite ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.square {
  position: relative;
  width: 365px;
  height: 365px;
  background-color: #3498db;
  cursor: pointer;
  transition: transform 0.2s;
}

.square:hover {
  transform: scale(1.2);
}
